<section class="section-felicio2">
    <div class="hero-content-felicio2">
        <h1 class="title-felicio2">
            Descubra o carro ideal para a <br> sua próxima aventura!
        </h1>
        <p class="text-felicio2">
            Bem-vindo à nossa locadora de veículos. Temos opções para todos os gostos e necessidades.
        </p>
        <div class="buttons-felicio2">
            <button class="butao1-felicio2">Saiba Mais</button>
            <button class="butao2-felicio2">Cadastre-se</button>
        </div>
    </div>
    <div class="image-container-felicio2">
        <img src="img/image-62.png" alt="Imagem de um carro" class="img-felicio2" onerror="this.src='https://via.placeholder.com/600x350'">
    </div>
</section>